.menu__bg {
    position: fixed;
    top: 74px;
    background-color: black;
    opacity: 0%;
    width: 100%;
    height: 100dvh;
    z-index: 0;
}

.menu__container {
    position: fixed;
    top: 74px;
    width: 60%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    margin-right: 50px;
    background-color: white;
    opacity: 100%;
    z-index: 1;
    transform: translateX(-100%);
}

.menu__container__link {
    text-decoration: none;
    color: var(degrade-primary);
    font-size: 1.25rem;
    font-weight: 700;
}

/* Animacao */

.opacidadeAlta {
    -webkit-animation: opacidadeAlta 1s;
    -webkit-animation-fill-mode: forwards;
}

.opacidadeBaixa {
    -webkit-animation: opacidadeBaixa 1s;
    -webkit-animation-fill-mode: forwards;
}

.menuSaindo {
    -webkit-animation: menuSaindo 1s;
    -webkit-animation-fill-mode: forwards;
}

.menuEntrando {
    -webkit-animation: menuEntrando 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes opacidadeAlta {
    from {
        opacity: 0%;
    }
    to {
        opacity: 60%;
    }
}

@keyframes opacidadeBaixa {
    from {
        opacity: 60%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes menuSaindo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes menuEntrando {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}