.portfolio {
    padding: 15px 20px 0 20px;
}

.portfolio__opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D9D9D9;
    padding: 5px 10px;
    border-radius: 20px;
    
}

.portfolio__opcoes__title {
    font-size: 0.875rem;
    font-weight: bold;
}

.portfolio__opcoes__arrow {
    background-image: url('/assets/arrow.svg');
    width: 10px;
    height: 6.94px;
}

.portfolio__abaDeOpcoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #D9D9D9;
    border-radius: 0 0 10px 10px;
    margin: 0 14px;
    padding: 5px 10px;
}

.portfolio__projetos {
    display: flex;
    gap: 20px;
    padding: 25px 20px 35px 20px;
}

.portfolio__projetos__esquerda{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.projeto1 {
    background-image: url('/assets/port1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.projeto3 {
    background-image: url('/assets/port3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 235px;
}

.projeto5 {
    background-image: url('/assets/port5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 220px;
}

.projeto7 {
    background-image: url('/assets/port7.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.projeto9 {
    background-image: url('/assets/port9.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
}

.projeto11 {
    background-image: url('/assets/port11.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px;
}

.portfolio__projetos__direita{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.projeto2 {
    background-image: url('/assets/port2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
}

.projeto4 {
    background-image: url('/assets/port4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 205px;
}

.projeto6 {
    background-image: url('/assets/port6.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.projeto8 {
    background-image: url('/assets/port8.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 235px;
}

.projeto10 {
    background-image: url('/assets/port10.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
}

.projeto12 {
    background-image: url('/assets/port12.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}